@font-face {
  font-family: Helvetica;
  src: url(../fonts/Helvetica.otf);
}

@font-face {
  font-family: AEmpirial;
  src: url(../fonts/a_Empirial.ttf);
}

html {
  height: 100%;
  overflow-x: hidden;
}

body{
   margin: 0;
  font-family: Arial;
  min-height: 100%;
  height: auto;
  position: relative;
}

.clearfix:after{
  content: '';
  display: table;
  width: 100%;
  clear: both;
}

.container{
  margin: 0 auto;
}

select{
  background-color: black;
  color: white;
  border: none;
}

.header-part-set {
  background-color: black;

  .header-part:first-child {
    text-transform: uppercase;
  }

  .header-part:last-child {
    color: white;
    text-transform: uppercase;

    .container > div {
      float: left;
    }

    .container > div:nth-child(2) {
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

nav {

  input[type="checkbox"] {
    display: none;
  }

  label {
    display: none;
  }
}

@media screen and (max-width: 640px){

  .bg-ContactUser{
    float: left;
    margin-right: 12px;
    width: 40px; height: 38px;
    background: url('../img/css_sprites.png') -81px -10px;
  }

  .bg-menu {
    width: 33px; height: 30px;
    background: url('../img/css_sprites.png') -141px -65px;
    border: none;
  }

  .bg-Search{
    width: 38px; height: 38px;
    background: url('../img/css_sprites.png') -10px -79px;
    border: none;
  }

  .bg-Bucket {
    width: 51px; height: 49px;
    background: url('../img/css_sprites.png') -10px -10px;
    float: left;
  }

  .bg-plus_max {
    width: 37px; height: 37px;
    background: url('../img/css_sprites.png') -68px -79px;
  }

  .bg-facebook {
    width: 15px; height: 30px;
    background: url('../img/css_sprites.png') -196px -10px;
  }

  .bg-twitter {
    width: 33px; height: 28px;
    background: url('../img/css_sprites.png') -10px -137px;
  }

  .bg-PLogo {
    width: 35px; height: 35px;
    background: url('../img/css_sprites.png') -141px -10px;
  }

  .bg-plus_min{
    margin-left: 20px;
    display: inline-block;
    width: 17px; height: 17px;
    background: url('../img/css_sprites.png') -63px -137px;
  }

  main{
    min-height: 100%;
    padding-bottom: 111px;
  }

  .container{
    width: 610px;
  }

  .container-cleaner-phone {
    margin: 0 !important;
    width: 100% !important;
  }

  .btn {
    font-family: Helvetica;
    font-size: 20px;
    color: white;
    border: none;
    border-bottom: 6px solid #dd6b44;
    text-transform: uppercase;
  }

  header{
    position: relative;
  }

  nav{
    float: right;

    label{
      display: inline-block;
    }

    &> .menu-desktop {
      display: none;
    }
  }
  input[type="checkbox"]:checked ~ label + .menu-desktop {
    display: block;
  }

  .header-part:first-child{
    width: 100%;
    background-color: white;
    color: #838383;
    padding: 31px 0;
    text-align: center;
    font-size: 30px;
  }

  .header-part:nth-child(2){
    font-size: 30px;

    .container > div{
      padding: 30px 19px;
      border-right: 2px solid #444444;
      font-size: 30px;
    }

    .container > div:nth-child(3){
      border-right: none;
      padding-left: 30px;
      padding-right: 0;
      padding-bottom: 0;
    }

    .container > div:nth-child(2){
      padding: 29px 65px;
    }

    select{
      font-size: 30px;
      width: 100px;
    }
  }

  .logo{
    padding: 58px 0 50px 0;
    background: url("../img/logo.png") center no-repeat;
    width: 358px;
    height: 88px;
    margin: 0 auto;
  }

  #YourCart{
    display: none;
  }

  .bucket{
    background-color: #fafafa;
    border: 1px solid #d6d6d6;
    padding: 22px 26px;
    margin-bottom: 23px;

    .bucket-count{
      float: right;
      margin: 10px 5px 0 0;

      span{
        font-size: 30px;
        color: #949393;
        text-transform: uppercase;
      }

      span:first-child{
        margin-right: 18px;
        padding-right: 10px;
        border-right: 3px solid #949393;
      }
    }
  }

  .menu{
    background-color: #fd926d;
    padding: 32px 30px;
    margin-bottom: 23px;

    span{
      font-size: 30px;
      text-transform: uppercase;
      color: white;
    }

    .menu-desktop{
      position: absolute;
      right: 0;
      bottom: -300px;
      width: 250px;
      background-color: black;
      opacity: 0.8;

      ul{
        padding: 0;

        li{
          display: block;
          margin-bottom: 21px;

          select{
            background-color: inherit;
            color: white;
            font-size: 30px;
          }
        }
      }
    }
  }

  .slider{
    display: none;
  }

  .email{
    margin-bottom: 23px;

    label{
      display: none;
    }

    button{
      float: right;
      border: none;
      background-color: #fd926d;
      padding: 27px 30px;
      border-bottom: 8px solid #dd6b44;
    }

    input{
      padding: 3px 0 0 24px;
      float: left;
      height: 96px;
      width: 80%;
      background-color: #ededed;
      border: none;
      font-size: 30px;
      font-style: italic;
    }
  }

  .links{
    margin: 0 auto;
    width: 440px;
    padding-bottom: 23px;

    .links-item{
      float: left;
      background-color: #f7f7f7;
      padding: 30px 37px;
    }

    .links-item:nth-child(3){
      background-color: #ededed;
      padding: 30px 27px;
    }

    .links-item:nth-child(4){
      padding: 27px 26px;
    }

    span{
      font-size: 26px;
      color: #6c6c6c;
      float: left;
      margin-top: 29px;
      margin-right: 32px;
    }
  }

  .offers{
    display: none;
  }

  .product-main-title-tab{
    display: none;
  }

  //////////////////////////////////////////////////////


  .product-catalog-set {
    padding: 32px 18px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;

    .product-catalog-item{
      background-color: white;
      text-align: center;
      min-width: 274px;
      height: 518px;
      float: left;
      padding-top: 5px;
      position: relative;
      margin-right: 33px;

      .product-catalog-item-shop{
        display: none;
      }

      .product-catalog-item-desc{
        text-align: center;
        background-color: #f7f7f7;
        width: 100%;
        height: 161px;
        position: absolute;
        bottom: 0;

        div{
          margin-top: 10px;
          text-transform: uppercase;
          color: #373737;

          &:nth-child(2){
            font-size: 27px;
          }
        }
      }
    }
    & div:last-child{
      text-align: center;
    }
  }



  .btn-add{
    background-color: #fd926d;
    padding: 15px 15px 15px 30px;;
    border-bottom: 6px solid #dd6b44;
    margin-top: 10px;
  }

  .btn-black{
    background-color: black;
    border: none;
    padding: 18px 47px;
    margin-bottom: 31px;
  }

  .sale{
    display: none;
  }

  ////////////////////////////////////////////////////////////

  .product-main{
    background-color: #f4845d;

    .product-main-title{
      padding: 28px 0;

      span{
        float: left;
        font-size: 30px;
        color: white;
        text-transform: uppercase;
        margin-left: 16px;
      }

      select{
        float: right;
        background: none;
        border: none;
        margin-right: 15px;
        margin-top: 10px;
      }
    }

    .product-main-catalog{
      background-color: #fd926d;
      text-align: center;

      .product-catalog-set{
        padding: 32px 18px;

        .product-catalog-item{
          .product-catalog-item-desc{
            .btn{
              background-color: #fd926d;
              padding: 15px 15px 15px 30px;;
              border-bottom: 6px solid #dd6b44;
              margin-top: 10px;
            }
          }
        }
        }
      }
    }

  .clearance{
    position: relative;

    .clearance-catalog{
      text-align: center;
    }

    .clearance-img{
      height: 105px;
      border-bottom: 1px solid #d8d8d8;

      .clearance-img-in{
        background-image: url(../img/clearance.png);
        width: 157px;
        height: 157px;
        position: absolute;
        left: 50%;
        margin-left: -95px;
        top: 5px;
        border-radius: 100%;
        border: 18px solid white;
      }
    }
    .product-catalog-item{
      margin-top: 67px;
      height: 475px;
    }
  }

  .fav_brands{
    display: none;
  }

  .about{
    display: none;
  }

  footer{
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
    height: 111px;
  }

  .footer-info{
    display: none;
  }

  .footer-cont{
    padding: 27px 19px 0 19px;

    > div:first-child{
      float: left;
      margin-top: 15px;
    }

    > div:last-child{
      font-size: 24px;
      color: #8d8d8d;
      float: right;
      width: 220px;

      div{
        float: right;
      }
    }
    ul{
      display: none;
    }

  }
}

@media screen and (max-width: 768px) and (min-width: 641px) {

  .bg-basket2 {
    width: 30px;
    height: 29px;
    background: url('../img/css_sprites IPad.png') -10px -10px;
    display: inline-block;
  }

  .bg-ContactUser {
    float: left;
    margin-left: 13px;
    width: 14px;
    height: 13px;
    background: url('../img/css_sprites IPad.png') -60px -65px;
  }

  .bg-menu {
    width: 22px;
    height: 20px;
    background: url('../img/css_sprites IPad.png') -98px -51px;
    border: none;
  }

  .bg-arrow_right {
    width: 18px;
    height: 35px;
    background: url('../img/css_sprites IPad.png') -10px -59px;
  }

  .bg-arrow_left {
    width: 18px;
    height: 35px;
    background: url('../img/css_sprites IPad.png') -60px -10px;
  }

  .bg-pixel_iconz_r4_c19_copy_8 {
    width: 3px;
    height: 5px;
    background: url('../img/css_sprites IPad.png') -180px -48px;
  }

  .bg-plus {
    width: 11px;
    height: 11px;
    background: url('../img/css_sprites IPad.png') -180px -86px;
    display: inline-block;
  }

  .bg-Search {
    width: 15px;
    height: 15px;
    background: url('../img/css_sprites IPad.png') -140px -49px;
    border: none;
  }

  .bg-facebook {
    width: 9px;
    height: 18px;
    background: url('../img/css_sprites IPad.png') -180px -48px;
    margin: 17px 23px;
  }

  .bg-twitter {
    width: 21px;
    height: 17px;
    background: url('../img/css_sprites IPad.png') -10px -114px;
    margin: 17px 19px;
  }

  .bg-PLogo {
    width: 22px;
    height: 21px;
    background: url('../img/css_sprites IPad.png') -98px -10px;
    margin: 17px 17px;
  }

  .bg-Bucket {
    width: 20px;
    height: 19px;
    background: url('../img/css_sprites IPad.png') -140px -10px;
    float: left;
    margin: 8px 0 0 9px;
  }

  .bg-slideRight {
    width: 12px;
    height: 18px;
    background: url('../img/css_sprites IPad.png') -60px -65px;
  }

  .bg-slideLeft {
    width: 12px;
    height: 18px;
    background: url('../img/css_sprites IPad.png') -180px -10px;
  }

  main{
    min-height: 100%;
    padding-bottom: 420px;
  }

  .container-cleaner-tab {
    margin: 0 !important;
    width: 100% !important;
  }

  .container {
    width: 730px;
  }

  header{
    position: relative;
  }

  .header-part-set {

    .header-part:first-child {
      float: left;
      color: white;
      font-size: 11px;
      padding-top: 7px;
    }

    .header-part:last-child {
      float: right;
      font-size: 11px;

      .container > div {
        border-left: 1px solid #444444;
        padding-top: 7px;
        height: 23px;
        width: 78px;
        text-align: center;
        float: left;
      }

      .container > div:nth-child(2) {
        width: 126px;

        a {
          text-decoration: none;
          color: white;
        }
      }

      .container > div:nth-child(3) {
        width: 30px;
        border-right: 1px solid #444444;
      }
    }
  }

  .logoandbucket{
    display: flex;
    justify-content: space-between;
  }

  .header-logo-menu{
    margin-top: 20px;
    margin-bottom: 17px;
  }

  .header-logo-part-set {
    padding: 21px 0 0 0;

    .logo {
      background: url("../img/logo-tab.png");
      width: 120px;
      height: 28px;
      margin-top: 20px;
    }

    .bucket-set {

      select {
        background-color: white;
        width: 214px;
        height: 31px;
        border: 1px solid #d6d6d6;
        border-bottom: none;
        color: #949393;
        font-size: 12px;
        padding: 0 5px;
      }

      .bucket {
        width: 212px;
        height: 31px;
        background-color: #fafafa;
        border: 1px solid #d6d6d6;

        .bucket-count {
          float: right;
          margin: 8px 10px 0 0;

          span {
            font-size: 11px;
            color: #949393;
            text-transform: uppercase;
          }

          span:first-child {
            margin-right: 5px;
            padding-right: 10px;
            border-right: 1px solid #949393;
          }
        }
      }
    }
  }

  .menu {
    background-color: #fd926d;
    padding: 14px 17px;

    span {
      font-size: 18px;
      text-transform: uppercase;
      color: white;
    }

    nav {
      float: right;

      label{
        display: inline-block;
      }

      &> .menu-desktop {
        display: none;
      }
    }
    input[type="checkbox"]:checked ~ label + .menu-desktop {
      display: block;
    }

    .menu-desktop{
      position: absolute;
      right: 0;
      bottom: 225px;
      width: 150px;
      background-color: black;
      opacity: 0.8;
      z-index: 2;

      ul{
        padding: 0;

        li{
          display: block;
          margin-bottom: 21px;

          select{
            background-color: inherit;
            color: white;
            font-size: 16px;
          }
        }
      }
    }
  }

  .slider {
    width: 760px;
    height: 350px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 54px;

    & > input {
      display: none;
    }

    & > input + label {
      background: #867a76 none repeat scroll 0 0;
      border-radius: 8px;
      cursor: pointer;
      display: block;
      float: left;
      height: 10px;
      left: 44.5%;
      margin-right: 20px;
      position: relative;
      top: 107%;
      transition: background 0.8s ease-out 0s;
      width: 10px;
      z-index: 100;
    }

    & > input + label:hover {
      background: #fd926d;
    }

    & > input:checked + label {
      background: #fd926d;
    }

    & > div {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      z-index: 0;
    }

    & > div {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
    }

    & > input:checked + label + div {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
    }

    div:nth-child(6){
      background: url("../img/SlideIPad.png") no-repeat;

      a{
        width: 116px;
        height: 43px;
        background-color: #fd926d;
        z-index: 100;
        position: absolute;
        top: 252px;
        left: 145px;
        border-bottom: 3px solid #dd6b44;
        box-sizing: border-box;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        padding-top: 12px;
        font-size: 12px;
      }
    }
  }

  .email-links {
    background-color: #ededed;

    .email {
      float: left;
      padding: 11px 0;

      label {
        font-size: 12px;
        color: #6b6b6b;
        float: left;
        margin: 10px 10px 0 0;
      }

      input {
        padding: 2px 0 0 6px;
        float: left;
        height: 28px;
        width: 125px;
        border: none;
        font-size: 12px;
        font-style: italic;
      }

      button {
        float: right;
        border: none;
        background-color: #fd926d;
        padding: 6px 8px;
        border-bottom: 3px solid #dd6b44;
      }
    }

    .links {
      float: right;

      span {
        font-size: 12px;
        color: #6c6c6c;
        float: left;
        margin-top: 20px;
        margin-right: 13px;
      }

      .links-item {
        float: left;
        background-color: #f7f7f7;
        width: 55px;
        height: 55px;
      }

      .links-item:nth-child(3) {
        background-color: #ededed;

      }
    }
  }

  .offers{
    padding: 33px 0;

    .offer{
      float: left;

      &:first-child{
        margin-right: 2px;
        background-image: url("../img/offer1.png");
        width: 364px;
        height: 256px;
      }

      &:nth-child(3){
        margin-right: 2px;
        background-image: url("../img/offer3.png");
        width: 181px;
        height: 127px;
      }

      &:nth-child(2){
        margin-bottom: 2px;
        background-image: url("../img/offer2.png");
        width: 364px;
        height: 127px;
      }

      &:nth-child(4){
        position: relative;
        background-image: url("../img/offer4.png");
        width: 181px;
        height: 127px;

        button{
          position: absolute;
          width: 74px;
          height: 23px;
          border: none;
          font-size: 9px;
          text-transform: uppercase;
          background-color: #4fafa0;
          color: white;
          bottom: 10%;
          left: 12.5%;
        }
      }
    }
  }

  .product-main-title-phone{
    display: none;
  }

  .product-main-title-tab{

    ul{
      margin: 0;
      padding: 0;
      float: left;

      li{
        display: block;
        float: left;
        padding: 13px 16px 14px 22px;

        &:first-child{
          background-color: #fd926d;

          button{
            color: white;
          }
        }

        button{
          border: none;
          background-color: inherit;
          text-transform: uppercase;
          font-size: 15px;
          padding: 0;
        }
      }
    }

    .product-title-btn{
      float: right;

      button{
        border: none;
        background-color: #fd926d;
        float: left;
        padding: 4px 12px 6px 16px;
      }

      button:first-child{
        background-color: #f2f2f2;
      }
    }
  }

  .product-main-catalog {
    background-color: #fd926d;
  }

  .sale{
    position: absolute;
    top: 0;
  }

  //////////////////////////////
  .product-catalog-set {
    padding: 30px 0px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;

    .product-catalog-item{
      background-color: #f4efe9;
      text-align: center;
      min-width: 220px;
      height: 390px;
      float: left;
      padding-top: 5px;
      position: relative;
      margin-right: 30px;

      .product-catalog-item-shop{
        display: none;
      }

      &:hover{
        min-width: 240px;
        margin: -10px 6px -20px 6px;
        height: 410px;

        .product-catalog-item-shop{
          display: block;
          position: absolute;
          left: 23%;
          top: 20%;
          background-color: #3d3d3d;
          font-size: 12px;
          height: 50px;
          border-radius: 100%;
          border: 40px solid #3d3d3d;

          a{
            text-decoration: none;
          }
          span{
            display: block;
            color: white;
            text-transform: uppercase;
          }
        }
      }

      .product-catalog-item-desc{
        text-align: center;
        background-color: #f7f7f7;
        width: 100%;
        height: 106px;
        position: absolute;
        bottom: 0;

        div{
          font-size: 12px;
          margin-top: 10px;
          text-transform: uppercase;
          color: #373737;

          &:nth-child(2){
            font-size: 22px;
            margin-top: 6px;
          }
        }
      }
    }
    & div:last-child{
      text-align: center;
    }
  }



  .btn-add{
    background-color: #fd926d;
    padding: 0px 15px 4px 10px;
    border: none;
    border-bottom: 3px solid #dd6b44;
    margin-top: 6px;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
  }

  .btn-black{
    display: none;
  }
  //////////////////////////////

  .clearance{
    position: relative;

    .clearance-img{
      height: 105px;
      border-bottom: 1px solid #d8d8d8;

      .clearance-img-in{
        background-image: url(../img/clearance.png);
        width: 157px;
        height: 157px;
        position: absolute;
        left: 50%;
        margin-left: -95px;
        top: 5px;
        border-radius: 100%;
        border: 18px solid white;
      }
    }
    .product-catalog-item{
      margin-top: 67px;
    }
  }

  .fav_brands{
    border: 1px solid #d8d8d8;
    padding: 19px 0;
    margin-top: 19px;

    span{
      font-size: 15px;
      text-transform: uppercase;
      font-weight: bold;
      position: absolute;
      bottom: 93px;
      background-color: white;
      border: 20px solid white;
      border-bottom: none;
      border-top: none;
    }

    .fav_brands-logo{
      display: flex;
      justify-content: space-around;
      align-items: center;

      div:nth-child(8), div:nth-child(9){
        display: none;
      }
    }
  }



  .about{
    h2{
      font-size: 24px;
      font-weight: normal;
      color: #414141;
      text-align: center;
      margin: 25px 0 10px 0;
    }

    .about-text{
      font-size: 14px;
      color: #999999;
      text-align: center;
      line-height: 1.3;
    }

    .payment{
      display: flex;
      background-color: #f7f7f7;
      justify-content: center;
      align-items: center;
      margin-top: 27px;
      padding: 18px 0;

      div{
        flex-basis: 45px;
      }

      span{
        font-size: 12px;
        color: #b5b5b5;
        margin-right: 15px;
      }
    }
  }

  footer{
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
    height: 420px;
  }

  .footer-info{
    background-color: #ededed;
    padding: 6px 0;

    h3{
      font-size: 16px;
      color: #544f4d;
      margin: 16px 0 0 0;
    }

    .footer-info-flex{
      display: flex;

      .footer-info-ref{
        display: flex;
        flex-wrap:wrap;
        width: 55%;

        .footer-info-ref-item{
          flex-basis: 200px;

          ul{
            padding: 0;

            li{
              display: block;

              a{
                color: #8b8887;
                text-decoration: none;
                font-size: 12px;
              }
            }
          }
        }
      }
      .footer-info-links{
        width: 45%;
        display: flex;

        .footer-info-links-item:first-child{
          flex-basis: 190px;

          .footer-links-set{
            display: flex;
            width: 150px;
            flex-wrap: wrap;
            margin-top: 21px;

            img{
              margin: 0 12px 10px 0px;
            }
          }
        }

        .footer-info-links-item:last-child{
          margin-top: 40px;
        }
      }
    }
  }

  .footer-cont{

    > div:first-child{
      float: left;
      font-size: 11px;
      margin-top: 22px;

      ul{
        padding: 0;
        display: flex;
        width: 460px;

        li{
          display: block;
          border-left: 2px solid #8d8d8d;
          padding: 0px 9px;

          a{
            color: #8d8d8d;
            text-decoration: none;
          }
        }

        li:first-child{
          border-left: none;
          padding-left: 0;
        }
      }

      button{
        display: none;
      }
    }

    > div:last-child{
      float: right;
      font-size: 11px;
      color: #8d8d8d;
      text-align: right;
      margin-top: 26px;
    }
  }
}

@media screen and (min-width: 769px){

  .bg-ContactUser {
    float: left;
    margin-left: 13px;
    width: 14px;
    height: 13px;
    background: url('../img/css_sprites IPad.png') -60px -65px;
  }

  .bg-Search {
    width: 15px;
    height: 15px;
    background: url('../img/css_sprites IPad.png') -140px -49px;
    border: none;
  }

  .bg-Bucket {
    width: 20px;
    height: 19px;
    background: url('../img/css_sprites IPad.png') -140px -10px;
    float: left;
    margin: 8px 0 0 9px;
  }

  .bg-facebook {
    width: 9px;
    height: 18px;
    background: url('../img/css_sprites IPad.png') -180px -48px;
    margin: 17px 23px;
  }

  .bg-twitter {
    width: 21px;
    height: 17px;
    background: url('../img/css_sprites IPad.png') -10px -114px;
    margin: 17px 19px;
  }

  .bg-PLogo {
    width: 22px;
    height: 21px;
    background: url('../img/css_sprites IPad.png') -98px -10px;
    margin: 17px 17px;
  }

  .bg-plus {
    width: 11px;
    height: 11px;
    background: url('../img/css_sprites IPad.png') -180px -86px;
    display: inline-block;
  }

  .bg-arrow_right {
    width: 18px;
    height: 35px;
    background: url('../img/css_sprites IPad.png') -10px -59px;
  }

  .bg-arrow_left {
    width: 18px;
    height: 35px;
    background: url('../img/css_sprites IPad.png') -60px -10px;
  }

  .bg-basket2 {
    width: 30px;
    height: 29px;
    background: url('../img/css_sprites IPad.png') -10px -10px;
    display: inline-block;
  }

  main{
    min-height: 100%;
    padding-bottom: 270px;
  }

  .container-cleaner-tab {
    margin: 0 !important;
    width: 100% !important;
  }

  .container-cleaner-desktop {
    max-width: 1200px !important;
  }

  .container{
    width: 80.83%;
    max-width: 970px;
  }

  .header-part-set {

    .header-part:first-child {
      float: left;
      color: white;
      font-size: 11px;
      padding-top: 7px;
    }

    .header-part:last-child {
      float: right;
      font-size: 11px;

      .container > div {
        border-left: 1px solid #444444;
        padding-top: 7px;
        height: 23px;
        width: 78px;
        text-align: center;
        float: left;
      }

      .container > div:nth-child(2) {
        width: 126px;

        a {
          text-decoration: none;
          color: white;
        }
      }

      .container > div:nth-child(3) {
        width: 30px;
        border-right: 1px solid #444444;
      }
    }
  }

  .header-logo-desktop{

    .header-logo-menu{
      float: left;
    }


    .header-logo-part-set {
      padding: 21px 0;

      .logo {
        background: url("../img/logo-tab.png");
        width: 120px;
        height: 28px;
        float: left;
        margin-top: 20px;
      }



      .bucket-set {
        float: right;

        select {
          background-color: white;
          width: 214px;
          height: 31px;
          border: 1px solid #d6d6d6;
          border-bottom: none;
          color: #949393;
          font-size: 12px;
          padding: 0 5px;
        }

        .bucket {
          width: 212px;
          height: 31px;
          background-color: #fafafa;
          border: 1px solid #d6d6d6;

          .bucket-count {
            float: right;
            margin: 8px 10px 0 0;

            span {
              font-size: 11px;
              color: #949393;
              text-transform: uppercase;
            }

            span:first-child {
              margin-right: 5px;
              padding-right: 10px;
              border-right: 1px solid #949393;
            }
          }
        }
      }
    }
    .menu{
      span{
        display: none;
      }

      button{}

      .menu-desktop{
        display: flex;
        margin: 8px 0 0 115px;

        ul{
          display: flex;
          padding: 0;

          li{
            display: block;
            margin-right: 21px;

            select{
              background-color: inherit;
              color: black;
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  .slider {
    width: 1200px;
    height: 440px;

    position: relative;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 73px;

    & > input {
      display: none;
    }

    & > input + label {
      background: #867a76 none repeat scroll 0 0;
      border-radius: 8px;
      cursor: pointer;
      display: block;
      float: left;
      height: 10px;
      left: 44.5%;
      margin-right: 20px;
      position: relative;
      top: 107%;
      transition: background 0.8s ease-out 0s;
      width: 10px;
      z-index: 100;
    }

    & > input + label:hover {
      background: #fd926d;
    }

    & > input:checked + label {
      background: #fd926d;
    }

    & > div {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      z-index: 0;
    }

    & > div {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
    }

    & > input:checked + label + div {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
    }

    div:nth-child(6){
      background: url("../img/SlideDesktop.png") no-repeat;

     a{
       width: 156px;
       height: 54px;
       background-color: #fd926d;
       z-index: 100;
       position: absolute;
       top: 302px;
       left: 273px;
       border-bottom: 3px solid #dd6b44;
       box-sizing: border-box;
       text-transform: uppercase;
       text-decoration: none;
       color: white;
       padding-top: 17px;
     }
    }
  }

  .email-links {
    background-color: #ededed;

    .email {
      float: left;
      padding: 11px 0;

      label {
        font-size: 12px;
        color: #6b6b6b;
        float: left;
        margin: 10px 10px 0 0;
      }

      input {
        padding: 2px 0 0 6px;
        float: left;
        height: 28px;
        width: 125px;
        border: none;
        font-size: 12px;
        font-style: italic;
      }

      button {
        float: right;
        border: none;
        background-color: #fd926d;
        padding: 6px 8px;
        border-bottom: 3px solid #dd6b44;
      }
    }

    .links {
      float: right;

      span {
        font-size: 12px;
        color: #6c6c6c;
        float: left;
        margin-top: 20px;
        margin-right: 13px;
      }

      .links-item {
        float: left;
        background-color: #f7f7f7;
        width: 55px;
        height: 55px;
      }

      .links-item:nth-child(3) {
        background-color: #ededed;

      }
    }
  }

  .offers{
    padding: 38px 0 57px 0;

    .offer{
      float: left;

      &:first-child{
        margin-right: 2px;
        background-image: url("../img/offer1Desktop.png");
        width: 484px;
        height: 340px;
      }

      &:nth-child(3){
        margin-right: 2px;
        background-image: url("../img/offer3Desktop.png");
        width: 241px;
        height: 169px;
      }

      &:nth-child(2){
        margin-bottom: 2px;
        background-image: url("../img/offer2Desktop.png");
        width: 484px;
        height: 169px;
      }

      &:nth-child(4){
        position: relative;
        background-image: url("../img/offer4Desktop.png");
        width: 241px;
        height: 169px;

        button{
          position: absolute;
          width: 97px;
          height: 30px;
          border: none;
          font-size: 12px;
          text-transform: uppercase;
          background-color: #4fafa0;
          color: white;
          bottom: 10%;
          left: 12.5%;
        }
      }
    }
  }

  .product-main-title-phone{
    display: none;
  }

  .product-main-title-tab{

    ul{
      margin: 0;
      padding: 0;
      float: left;

      li{
        display: block;
        float: left;
        padding: 13px 16px 14px 22px;

        &:first-child{
          background-color: #fd926d;

          button{
            color: white;
          }
        }

        button{
          border: none;
          background-color: inherit;
          text-transform: uppercase;
          font-size: 15px;
          padding: 0;
        }
      }
    }

    .product-title-btn{
      float: right;

      button{
        border: none;
        background-color: #fd926d;
        float: left;
        padding: 4px 12px 6px 16px;
      }

      button:first-child{
        background-color: #f2f2f2;
      }
    }
  }

  .product-main-catalog {
    background-color: #fd926d;
  }

  .sale{
    position: absolute;
    top: 0;
  }


  .product-catalog-set {
    padding: 30px 0px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: center;

    .product-catalog-item{
      background-color: #f4efe9;
      text-align: center;
      min-width: 220px;
      height: 390px;
      float: left;
      padding-top: 5px;
      position: relative;
      margin: 0px 15px;

      .product-catalog-item-desc{
        text-align: center;
        background-color: #f7f7f7;
        width: 100%;
        height: 106px;
        position: absolute;
        bottom: 0;

        div{
          font-size: 12px;
          margin-top: 10px;
          text-transform: uppercase;
          color: #373737;

          &:nth-child(2){
            font-size: 22px;
            margin-top: 6px;
          }
        }
      }

      .product-catalog-item-shop{
        display: none;
      }

      &:hover{
        min-width: 240px;
        margin: -10px 6px -20px 6px;
        height: 410px;

        .product-catalog-item-shop{
          display: block;
          position: absolute;
          left: 23%;
          top: 20%;
          background-color: #3d3d3d;
          font-size: 12px;
          height: 50px;
          border-radius: 100%;
          border: 40px solid #3d3d3d;

          a{
            text-decoration: none;
          }
          span{
            display: block;
            color: white;
            text-transform: uppercase;
          }
        }
      }
    }
    & div:last-child{
      text-align: center;
    }
  }

  .btn-add{
    background-color: #fd926d;
    padding: 0px 15px 4px 10px;
    border: none;
    border-bottom: 3px solid #dd6b44;
    margin-top: 6px;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
  }

  .btn-black{
    display: none;
  }

  .clearance{
    position: relative;

    .clearance-img{
      height: 105px;
      border-bottom: 1px solid #d8d8d8;

      .clearance-img-in{
        background-image: url(../img/clearance.png);
        width: 157px;
        height: 157px;
        position: absolute;
        left: 50%;
        margin-left: -95px;
        top: 5px;
        border-radius: 100%;
        border: 18px solid white;
      }
    }
    .product-catalog-item{
      margin-top: 67px;
    }
  }

  .fav_brands{
    border: 1px solid #d8d8d8;
    padding: 19px 0;
    margin-top: 43px;

    span{
      font-size: 15px;
      text-transform: uppercase;
      font-weight: bold;
      position: absolute;
      bottom: 93px;
      left: 45%;
      background-color: white;
      border: 20px solid white;
      border-bottom: none;
      border-top: none;
    }

    .fav_brands-logo{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .about{
    h2{
      font-size: 24px;
      font-weight: normal;
      color: #414141;
      text-align: center;
      margin: 25px 0 10px 0;
    }

    .about-text{
      font-size: 14px;
      color: #999999;
      text-align: center;
      line-height: 1.3;
    }

    .payment{
      display: flex;
      background-color: #f7f7f7;
      justify-content: center;
      align-items: center;
      margin-top: 27px;
      padding: 18px 0;

      div{
        flex-basis: 45px;
      }

      span{
        font-size: 12px;
        color: #b5b5b5;
        margin-right: 15px;
      }
    }
  }

  footer{
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
    height: 270px;
  }

  .footer-info{
    background-color: #ededed;
    padding: 9px 0;

    h3{
      font-size: 16px;
      color: #544f4d;
      margin: 16px 0 0 0;
    }

    .footer-info-flex{
      display: flex;

      .footer-info-ref{
        display: flex;
        width: 620px;
        justify-content: space-between;

        .footer-info-ref-item{


          ul{
            padding: 0;

            li{
              display: block;

              a{
                color: #8b8887;
                text-decoration: none;
                font-size: 12px;
              }
            }
          }
        }
      }
      .footer-info-links{
        display: flex;
        margin-left: 50px;
        width: 300px;
        justify-content: space-between;

        .footer-info-links-item:first-child{


          .footer-links-set{
            display: flex;
            width: 150px;
            flex-wrap: wrap;
            margin-top: 21px;

            img{
              margin: 0 12px 10px 0px;
            }
          }
        }

        .footer-info-links-item:last-child{
          margin-top: 40px;
        }
      }
    }
  }

  .footer-cont{

    > div:first-child{
      float: left;
      font-size: 11px;
      margin-top: 22px;

      ul{
        padding: 0;
        display: flex;
        width: 460px;

        li{
          display: block;
          border-left: 2px solid #8d8d8d;
          padding: 0px 9px;

          a{
            color: #8d8d8d;
            text-decoration: none;
          }
        }

        li:first-child{
          border-left: none;
          padding-left: 0;
        }
      }

      button{
        display: none;
      }
    }

    > div:last-child{
      float: right;
      font-size: 11px;
      color: #8d8d8d;
      text-align: right;
      margin-top: 26px;
    }
  }
}